body {
}


.customtext {
    font-family: MV Boli;
}

.form{
    width: 200px;
    background-color:ghostwhite;
    border-bottom-color:deepskyblue; 
}

.customtext2 {
    font-family: Cascadia Code SemiBold;
    font-size:80%;
}

.biggertext {
    font-size:20px;
}