@{
    ViewBag.Title = "Tietoja";
}
<main aria-labelledby="title">

    <h3>Careeria Projekti jakson 2024 oppilastyö</h3>
    <h4>Dev Tiimi</h4>
    <p class="customtext">Toni Pekkala</p>
    <p class="customtext">Valter Backström</p>
    <p class="customtext">Jani Pekkala</p>


</main>