@{
    ViewBag.Title = "Yhteydet";
}
<main aria-labelledby="title">
    <address>
        RoottoriAPP Tiimi.
    </address>

    <address>
        <strong>Tuki:</strong>   <a href="email.com">Support@example.com</a><br />
        <strong>Myynti:</strong> <a href="email.com">Marketing@example.com</a>
    </address>
</main>