﻿@model IEnumerable<RoottoriV1._2.Models.Roottorit>
﻿

@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title  ROOTTORI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Yllä olevaan ei tarvitse koskea-->
</head>

<main>

    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle biggertext" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:20px">Työkalut</a>
            <div class="dropdown-menu">

                <a class="dropdown-item" href="~/KirjastoTyokalut/Mazak400">Mazak400</a>
                <a class="dropdown-item" href="~/KirjastoTyokalut/Mazaki500">Mazaki500</a>
                <a class="dropdown-item" href="~/KirjastoTyokalut/Index">Kaikki työkalut</a>

            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:20px">Asetuskortti</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Roottorit/E6R">E6R asetus näkymä</a>
                <a class="dropdown-item" href="/Roottorit/E25R">E25R asetus näkymä</a>
                <a class="dropdown-item" href="/Roottorit/E25Ri">E25Ri asetus näkymä</a>
            </div>
        </li>

        <li class="nav-item dropdown SessionIn">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:20px">Suunnittelijan näkymä</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="~/Roottorit/Index">Mallit</a>
                <a class="dropdown-item" href="/Leuat/Index">Leuat</a>
                <a class="dropdown-item" href="/Magneetit/Index">Magneetit</a>
            </div>
        </li>


    </ul>
</main>

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>


        var dropdownToggleList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
        dropdownToggleList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl);
        });
    </script>


    @if (Session["UserName"] == null)
    {
        <script>
            window.onload = function () {
                var sessionInElements = document.querySelectorAll(".SessionIn");
                sessionInElements.forEach(function (element) {
                    element.style.display = "none";
                });
            };

        </script>
    }

}
