@model RoottoriV1._2.Models.Magneetit

@{
    ViewBag.Title = "Suunnittelija";
}

<h2>Magneetin Lisätiedot</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Magneetti)</dt>
        <dd>@Html.DisplayFor(model => model.Magneetti)</dd>

    </dl>
</div>

    <a class="btn button2" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>

